/* Denna fil skall innehålla din CSS kod */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Mukta', sans-serif; 
}

#wrapper { /* Wrapper för alla sidor */
    display: grid;
    grid-template-areas:
    "nv"
    "mn"
    "ft"
    ;
    min-height: 100vh;
}

#mainstart { /* Main */
    grid-area: mn;
    display: grid;
    grid-template-areas: 
    "s1"
    "s2"
    "s3"
    ;
    min-height: 100vh;

}

li a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#list {
    display: flex;
    flex-direction: column;
}

.navLinks {
    position: absolute;
    width: 100%;
    top: -100vh;
    transition: all 1s;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.linkUnderline {
    bottom: -1px;
    position: absolute;

}
.navLinks a:hover #svgP {
    width: 80px;
}
.navLinks a:hover #svgB {
    width: 40px;
}
.navLinks a:hover #svgA {
    width: 55px;
}
.navLinks a:hover #svgC {
    width: 68px;
}



.navLinks a:hover .linkUnderline {
    transition: all 0.7s ease;
    width: 50px;
    position: absolute;
}

.navLinks a:hover {
    background-position: right;
    cursor: pointer;
}

.navLinks .linkUnderline{
    transition: all 0.5s ease;
}

#list li {
    padding-left: 2em;
    font-size: 1.25em;
    padding-top: 0.5em
}

.navLinks li  {
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
}

a:visited {
    color: black;
  }

nav {
    grid-area: nv;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    grid-area: ft;
    color: white;
    text-align: center;
    border-top: 4px white solid;
}

#s1 {
    grid-area: s1;
    display: flex;
    align-items: center;
    margin-top: 3em;
    justify-content: space-between;
}

#s1 li {
    padding-top: 0;
}

#icons {
    display: flex;
    align-self: flex-end;
    padding-right: 2em;
}

.icon {
    height: 3em;
    padding-left: 1em;
}

.icon1 {
    width: 3em;
    height: 3em;
    margin-left: 0.9em;
}

#s2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: s2;
    color: white;
    padding-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100vw;

}

#s2 img {
    bottom: 0;
    z-index: -1;
}

#contactborder {
    border-radius: 3em;
    background-image: linear-gradient(45deg,#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    background-size: 300%;
    background-position: left;
    transition: ease 1s;
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

#contactborder:hover {
    background-position: right;
}

#s3 {
    grid-area: s3;
    background-color: black;
    color: white;
    padding-left: 2em;
    padding-top: 0.5em;
    display: grid;
    grid-template-areas:
    "fw fw"
    "im im"
    "pr pr"
    ;
}

#aftereffects {
    background-color: black;
    grid-area: s2p;
}

#cinema4d {
    grid-area: s3p;
}

#logo {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 55px;
    height: 32px;
    margin-left: 0.5em;
    margin-top: 0.5em;
    background-image: url(../img/Logo.png);
    background-size: cover;

}

.burger {
    cursor: pointer;
    opacity: 0;
    position: absolute;


}
.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: white;
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: white;
}

.navActive {
    transform: translateY(100vh);
}


#image1, #image2, #image3 {
    background-color: gray;
    height: 24em;
    width: 13.5em;
    background-size: cover;
    box-shadow: 0 0 0 4px rgb(255, 255, 255);
    border-radius: 2em;
}

#image1 {
    background-image: url(../img/Car\ Under\ Water.jpg);
}

#image2 {
    background-image: url(../img/Sky\ Eagle.jpg);
}

#image3 {
    background-image: url(../img/Tak\ 3\ sittande\ Done.jpg);
    background-position-x: -2em;
}

#image1p, #image2p, #image3p {
    background-color: gray;
    height: 24em;
    aspect-ratio: 9/16;
    width: auto;
    background-size: cover;
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
    border-radius: 2em;
}

#image1p {
    background-image: url(../img/Car\ Under\ Water.jpg);
}

#image2p {
    background-image: url(../img/Sky\ Eagle.jpg);
}

#image3p {
    background-image: url(../img/Tak\ 3\ sittande\ Done.jpg);
    background-position-x: -2em;
}

#images {
    grid-area: im;
}

.video {
    width: 30vw;
    height: auto;
    aspect-ratio: 16/9;
}

#paragraphs {
    grid-area: pr;
    color: white;
}

#images, #paragraphs {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    text-align: center;
    margin-bottom: 3em;
}

#paragraphsportfolio {
    color: black;
    grid-area: pr;
    margin-bottom: 2em;
}

#imagesportfolio {
    grid-area: im;
}

#photoshop {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    grid-area: s1p;
    display: grid;
    grid-template-areas:
    "pt"
    "im"
    "pr";
}

#portfoliotext {
    grid-template-areas: 
    "portfolio"
    "photoshop";
    grid-area: pt;
}

#title {
    grid-area: portfolio;
    font-size: 2em;
    text-align: center;
}

#ptext {
    grid-area: photshop;
}

#imagesportfolio, #paragraphsportfolio {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    text-align: center;
}

#aftereffects {
    padding-top: 1em;
}

#cinema4d {
    padding-top: 1em;
}
#aftereffects h2, #cinema4d h2 {
    padding-left: 2em;
}
#aftereffects h2 {
    color: white;
}

.videos {
    padding-top: 2em;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.iconabout {
    width: 4em;
    height: auto;
    aspect-ratio: 1/1;
}

.abouticons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 3em;
    white-space: nowrap;
}
#abouts1 {
    grid-area:s1;
    text-align: center;
    padding-top: 3em;
}

#abouts2 {
    grid-area:s2;
    background-color: rgb(0, 0, 0);
    color: white;
}

#abouts2 h1 {
    text-align: center;
}

#abouts3 {
    grid-area:s3;
    padding-left: 2em;
    padding-top: 0.5em;
}

#abouts1 h2, #abouts2 h2 {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 1em;
}

#abouts2 h1 {
    padding-top: 1em;
}

#abouts3 {
    display: flex;
    flex-direction: column;
}

#abouts3 h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#abouts3 {
    padding-bottom: 2em;
}


@media only screen and (max-width: 800px) {
    

    
    #s3 {
        display: grid;
        grid-template-areas:
        "fw fw"
        "im pr"
        ;
        grid-template-rows: 
        0.01fr 2fr;
    }

    #photoshop {
        grid-template-areas:
        "ps ps"
        "im pr"
    }
    #paragraphs, #paragraphsportfolio {
        font-size: 0.9em;
    }

    #paragraphsportfolio {
        margin-left: 2em;
    }

    #images, #paragraphs {
        flex-direction: column;
    }
    
    #imagesportfolio, #paragraphsportfolio {
        flex-direction: column;
        margin-bottom: 3em;
    }

    #image1, #image2, #image3, #image1p, #image2p, #image3p {
        width: 9em;
        height: auto;
        aspect-ratio: 9/16;
    }

    #image2, #image3, #image2p, #image3p {
        margin-top: 3em;
    }

    #portfolio {
        display: grid;
        grid-template-areas: 
        "pf pf"
        "im pr";
    }

    #featuredwork {
        grid-area: fw;
    }


    #image1p, #image2p, #image3p {
        margin-bottom: 3em;
    }

    #icons {
        flex-direction: column;
        z-index: -2;
        position: absolute;
        right: 0;

    }

    .icon {
        padding-bottom: 0.2em;
    }

    .videos {
        flex-direction: column;
    }

    .video {
        aspect-ratio: 16/9;
        width: 70%;        
    }

    .videos iframe {
        margin-bottom: 3em;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        height: 40vh;
        right: 0;
        top: -100vh;
        width: 30%;
        line-height: 3em;
        background-color: rgb(0, 0, 0);
        color: white;
        padding-bottom: 1em;
        width: 40%;

   }

   a {
       color: white;
   }

   li svg {
       opacity: 0;
   }

    .navLinks li {
        justify-content: space-evenly;
        text-align: center;
        }

    .burger { 
        opacity: 1;
        position: static;
        z-index: 2;
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    .burger div { 
        background-color: black;
    }
}